<% if category.id == 1 %>
  <div class="panel-upper category1">
    <div class="category-icon"><i class="fa-solid fa-mountain"></i></div>
    <div class="category-name"><%= category.name %></div>
  </div> 
<% elsif category.id == 2 %>
  <div class="panel-upper  category2">
    <div class="category-icon"><i class="fa-solid fa-earth-asia"></i></div>
    <div class="category-name"><%= category.name %></div>
  </div> 
<% elsif category.id == 3 %>
  <div class="panel-upper category3">
    <div class="category-icon"><i class="fa-solid fa-briefcase"></i></div>
    <div class="category-name"><%= category.name %></div>
  </div> 
<% elsif category.id == 4 %>
  <div class="panel-upper category4">
    <div class="category-icon"><i class="fa-solid fa-pencil"></i></div>
    <div class="category-name"><%= category.name %></div>
  </div> 
<% elsif category.id == 5 %>
  <div class="panel-upper category5">
    <div class="category-icon"><i class="fa-solid fa-person-hiking"></i></div>
    <div class="category-name"><%= category.name %></div>
  </div> 
<% elsif category.id == 6 %>
  <div class="panel-upper category6">
    <div class="category-icon"><i class="fa-solid fa-baby-carriage"></i></div>
    <div class="category-name"><%= category.name %></div>
  </div> 
<% elsif category.id == 7 %>
  <div class="panel-upper category7">
    <div class="category-icon"><i class="fa-solid fa-guitar"></i></div>
    <div class="category-name"><%= category.name %></div>
  </div> 
<% elsif category.id == 8 %>
  <div class="panel-upper category8">
    <div class="category-icon"><i class="fa-solid fa-cart-shopping"></i></div>
    <div class="category-name"><%= category.name %></div>
  </div> 
<% elsif category.id == 9 %>
  <div class="panel-upper category9">
    <div class="category-icon"><i class="fa-solid fa-leaf"></i></div>
    <div class="category-name"><%= category.name %></div>
  </div> 
<% elsif category.id == 10 %>
  <div class="panel-upper category10">
    <div class="category-icon"><i class="fa-solid fa-hand-holding-heart"></i></div>
    <div class="category-name"><%= category.name %></div>
  </div>  
<% elsif category.id == 11 %>
  <div class="panel-upper category11">
    <div class="category-icon"><i class="fa-solid fa-person-circle-question"></i></div>
    <div class="category-name"><%= category.name %></div>
  </div>
<% end %>    
